<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DesktopPet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="eSheep2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesktopPet.Properties.Settings>
            <setting name="Images" serializeAs="String">
                <value/>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value/>
            </setting>
            <setting name="xml" serializeAs="String">
                <value/>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="WinForeground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutostartPets" serializeAs="String">
                <value>1</value>
            </setting>
        </DesktopPet.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
