<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net47" />
  <package id="Microsoft.Toolkit.Forms.UI.Controls.WebView" version="5.1.1" targetFramework="net47" />
  <package id="NAudio" version="1.9.0" targetFramework="net47" />
</packages>