---
layout: default
---

<article class="post">
  <h1>Pet: {{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
  
  <script>
    var petLink = window.location.href.toString().split("/");
    var petName = petLink[petLink.length - 1];
    if(petName == "") petName = petLink[petLink.length - 2];
    petName = petName.toLowerCase();
    var testPetLink = "https://raw.githubusercontent.com/Adrianotiger/desktopPet/master/Pets/" + petName + "/animations.xml";
    console.log("Pet xml: " + testPetLink);
    var testPet = new eSheep();
    testPet.Start(testPetLink);
  </script>
</article>
