---
layout: app
title: Download pet animations
---

<script>
  var xmlText;
  function loadPetImage(url, im)
  {
    var img = new Image();
    img.onload = function(){
      im.src = img.src;
    }
    img.onerror = function(){
      im.style.width = "48px";
    }
    img.src = url;
  }
  
  function loadPetsInfo()
  {
    var xobj = new XMLHttpRequest();
    //xobj.overrideMimeType("application/json");
    xobj.open('GET', 'pets.json', true);
    xobj.onreadystatechange = function() {
        if (xobj.readyState === 4 && xobj.status === 200) {
            var ani = JSON.parse(xobj.responseText);
            for(var p in ani.pets)
            {
              var tds = document.getElementById('/Pets/' + ani.pets[p].folder + '/').getElementsByTagName("td");
              if(tds.length >= 3)
              {
                tds[1].innerHTML = ani.pets[p].author;
                tds[2].innerHTML = ani.pets[p].lastupdate;
              }
            }
        }
    };
    xobj.send(null);
  }
  
  function loadPetInfo(path)
  {
    var xobj = new XMLHttpRequest();
    //xobj.overrideMimeType("text/xml");
    xobj.onreadystatechange = function() {
      if (xobj.readyState === 4 && xobj.status === 200) {
        var parser = new DOMParser();
        xmlText = xobj.responseText;
        var xmlDoc = parser.parseFromString(xmlText,"text/xml");
        console.log(xmlDoc);
        var html = "";
        var h = xmlDoc.getElementsByTagName("header")[0];
        html += "<img src='data:image/icon;base64," +  h.getElementsByTagName("icon")[0].textContent + "' /><br>";
        html += "<table border='1'><tr><td>Author: </td><td>" + h.getElementsByTagName("author")[0].textContent + "</td></tr>";
        html += "<tr><td>Project: </td><td>" + h.getElementsByTagName("title")[0].textContent + "</td></tr>";
        html += "<tr><td>Pet name: </td><td>" + h.getElementsByTagName("petname")[0].textContent + "</td></tr>";
        html += "<tr><td>Version: </td><td>" + h.getElementsByTagName("version")[0].textContent + "</td></tr>";
        html += "<tr><td>Size: </td><td>" + parseInt(xobj.responseText.length / 1024) + " kb</td></tr>";
        html += "</table><br><br>";
        var info = h.getElementsByTagName("info")[0].textContent;
        info = info.replace(/\[br\]/g, "<br>");
        info = info.replace(/\[link:([a-zA-Z0-9@:%_\+.~\#?&//=]*)\]/g, "<a target='_blank' href='$1'>$1</a>");
        html += info;
        html += "<hr width='80%'>";
        html += "<a href='javascript:document.innerHTML=\"-XML-\"+xmlText;' style='font-size:200%;'>DOWNLOAD</a>"
        document.getElementById('xmldiv').innerHTML = html;
        document.getElementById('xmldiv').style.display="block";
      }
    };
    xobj.open('GET', path, true);
    xobj.send(null);
  }
  setTimeout(function(){loadPetsInfo();}, 100);
</script>

<style>
  body {width:100vw;margin:0 auto;text-align:center;}
  .aniicon {width:70px;height:90px;display:inline-block;background:linear-gradient(to bottom, #ccccff, #ffffbb);background-color:#ddddff;border-radius:5px;cursor:pointer;text-align:center;margin:0 auto;}
  .aniicon img {max-height:48px;max-width:48px;vertical-align:middle;}
  .aniicon td {display:block;overflow:hidden;white-space:nowrap;width:68px;height:12px;text-overflow:ellipsis;text-align:center;font-size:10px;padding:0px;margin:0px;}
  .xmldiv {display:none;position:fixed;width:80vw;height:80vh;top:10vh;left:10vw;overflow:auto;background-color:#ddddff;text-align:center;margin:0 auto;border-style:ridge;border-width:3px;border-radius:20px;}
  .xmldiv table {margin:0 auto;border-style:ridge;border-width:2px;border-radius:4px;font-weight:bold;}
</style>

{% for page in site.pages %}
  {% if page.name == "README.md" %}
    <div class='aniicon' id='{{ page.url }}' onclick='loadPetInfo("{{ site.url }}{{ page.url }}animations.xml")'>
      <img 
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=" 
          id='{{ page.url }}ico'
          /> 
      <script>loadPetImage('{{ site.url }}{{ page.url }}icon.png', document.getElementById('{{ page.url }}ico'));</script>
      <table>
      <tr><td>{{ page.title }}</td></tr>
      <tr><td>-</td></tr>
      <tr><td>-</td></tr>
      </table>

    </div>
  {% endif %}
{% endfor %}  <!-- page -->

<div class="xmldiv" id="xmldiv" onclick="this.style.display='none';"></div>
