---
layout: app
title: Download pet animations
---

<script>
  function loadPetImage(url, im)
  {
    var img = new Image();
    img.onload = function(){
      im.src = img.src;
    }
    img.onerror = function(){
      im.style.width = "48px";
    }
    img.src = url;
  }
  
  function loadPetInfo()
  {
    var xobj = new XMLHttpRequest();
    //xobj.overrideMimeType("application/json");
    xobj.onreadystatechange = function() {
        if (xobj.readyState === 4 && xobj.status === 200) {
            var ani = JSON.parse(xobj.responseText);
            console.log(ani);
            for(var p in ani.pets)
            {
              var tds = document.getElementById('/Pets/' + ani.pets[p].folder + '/').getElementsByTagName("td");
              console.log(ani.pets[p]);
              console.log(tds);
              if(tds.length >= 3)
              {
                tds[1].innerHTML = ani.pets[p].author;
                tds[2].innerHTML = ani.pets[p].lastupdate;
              }
            }
        }
    };
    xobj.open('GET', 'pets.json', true);
    xobj.send(null);
  }
  setTimeout(function(){loadPetInfo();}, 200);
</script>

<style>
  .aniicon {width:50px;height:80px;display:inline-block;border-style:solid;border-color:darkblue;background-color:white;border-width:1px;border-radius:5px;cursor:pointer;font-size:8px;text-align:center;}
  .aniicon img {max-height:48px;max-width:48px;vertical-align:middle;}
  .aniicon td {overflow:hidden;width:50px;text-overflow:ellipsis;text-align:center;}
</style>

{% for page in site.pages %}
  {% if page.name == "README.md" %}
    <div class='aniicon' id='{{ page.url }}'>
      <img 
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=" 
          onload="loadPetImage('{{ site.url }}{{ page.url }}icon.png', this)" 
          /> 
      <table>
      <tr><td>{{ page.title }}</td></tr>
      <tr><td>-</td></tr>
      <tr><td>-</td></tr>
      </table>

    </div>
  {% endif %}
{% endfor %}  <!-- page -->
